__pycache__/
*.pyc

.env

data/raw/
data/processed/
backend/data/
backend/analysis/data/

.DS_Store
Thumbs.db

.vscode/

PlantMonitoringBoard/.pio
PlantMonitoringBoard/.vscode/.browse.c_cpp.db*
PlantMonitoringBoard/.vscode/c_cpp_properties.json
PlantMonitoringBoard/.vscode/launch.json
PlantMonitoringBoard/.vscode/ipch
secrets.h
